body {
    font-family: Linux Libertine, Georgia, Times, serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10px;
    padding: 2rem;
}

nav img {
    height: 70px;
}

.search-bar {
    position: relative;
    display: inline-block;
    width: 600px;
}

.search-bar input[type="text"] {
    width: 96%;
    padding: 0.5rem 1rem;
    border: 1px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 1rem;
    font-family: Arial, sans-serif;
    color: #333;
}

.search-bar button[type="submit"] {
    position: absolute;
    top: 50%;
    right: 0.5rem;
    transform: translateY(-50%);
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.search-bar button[type="submit"]:hover,
.search-bar button[type="submit"]:focus {
    background-color: #666;
}
.search-bar button[type="submit"]::before {
    content: "\f002";
    font-family: serif;
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    display: inline-block;
    margin-right: 0.5rem;
}

.links a {
    padding: 10px;
    font-weight: bold;
}

h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    position: relative;
}

h1::after {
    content: "";
    display: block;
    width: 1200px;
    height: 1px;
    background-color: #333;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.container {
    display: flex;
    display: block;
    margin: 60px 50px 60px 50px;
    font-size: 25px;
}

img {
    float: right;
    height: 250px;
}
